ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

img {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

.imageContainer h4 {
  display: flex;
  max-width: 200px;
}
