ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container {
  
    border-radius: 9px;
    display: flex;
    border: 1px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 9px;
}

.imageHolder {
  background-image: url('src/assets/person_holding_red_shirt.jpg');
  height: 500px;
  background-size: cover;
}

li {
  list-style-type: none;
}

.container h4 {
  display: flex;
  max-width: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quantityContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.quantityContainer input {
  height: 20px;
  width: 35px;
}

.priceOrderEl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
