@media (max-width: 1120px) and (min-width: 800px) {
  div.root-layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px;
  }

  #root header {
    grid-area: 1 / 1 / 2;
    /* display: grid; */
    grid-template-columns: 300px 780px;
    /* position: fixed; */
    /* gap: 0 43rem; */
    /* gap: 36rem; */
  }

  #root header h1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #root header nav {
    grid-area: 1 / 2 / 2 / 3;
  }

  main {
    grid-area: 2 / 1/ 9 / 4;
  }

  div.homeHeadText {
    padding: 4px;
    width: 50%;
  }

  div.welcomePageContainer h2 {
    font-size: 2rem;
  }

  div.welcomePageContainer p {
    font-size: 1.1rem;
  }

  /* div.welcomePageContainer img {
    width: 100%;
    height: auto;
    min-width: 100px;
    min-height: 0;
    object-fit: cover;
  } */

  div.homePageImageContainer {
    width: 100%;
    height: auto;
    background-image: url("src/assets/person_with_cart.png");

    background-size: 100% 100%;
    /* background-position: ; */
    background-position: center;

    object-fit: contain;
    object-position: 50% 50%;
    border-radius: 9px;
  }

  div.ourOfferContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* align-items: center; */
    /* justify-content: center; */
  }

  .ourOfferSubContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
  }

  h1.offerEl {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: rgb(240, 103, 61);
  }

  .ourOfferContainer img {
    width: 70px;
    height: auto;
  }

  div.free-fastContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 200px;
  }

  div.free-fastContainer h2 {
    font-size: 1.2rem;
  }

  div.customerServiceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 200px;
  }

  div.customerServiceContainer h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  main footer p {
    font-size: 1.5rem;
  }

  div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 2px black;
    width: 371px;
    padding: 10px;
    gap: 20px;
    height: 250px;
  }

  li img {
    max-width: 150px;
    max-height: 200px;
    object-fit: cover;

    object-fit: contain;
    object-position: 50% 50%;
    border-radius: 9px;
  }

  div.container h4 {
    /* display: flex; */
    max-width: 200px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
}

footer p {
  font-size: 1.7rem;
}

.shopText {
  color: rgb(240, 103, 61);
}

.shopLink {
  color: rgb(240, 103, 61);
}

.root-layout {
  /* display: grid; */
  grid-template-columns: 100%;
  grid-template-rows: 60px;
}

header {
  grid-area: 1 / 1 / 2;
  /* display: grid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 35px;

  /* gap: 0 43rem; */
  /* gap: 36rem; */
}

header h1 {
  grid-area: 1 / 1 / 2 / 2;
}

header nav {
  grid-area: 1 / 2 / 2 / 3;
}

main {
  grid-area: 2 / 1/ 9 / 4;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px;
}

.categoriesContainer {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopProductContainer {
  grid-row: 2 / 9;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 82%;
}

aside h2 {
  display: flex;
  justify-content: center;
  font-size: 1.2;
}

.itemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 0 40px;
  font-size: 1.3rem;
  padding: 0;
  gap: 20px;
}

.homeHeadText {
  padding: 4px;
  width: 60%;
}

.homePageImageContainer {
  width: 100%;
  height: auto;
  background-image: url("src/assets/person_with_cart.png");
  background-size: 100% 100%;
  /* background-position: ; */
  background-position: center;

  object-fit: contain;
  object-position: 50% 50%;
  border-radius: 9px;
}
